html
    head
        title alertpage
        if message == "permission_deny"
            script(src='/public/js/permission_alert.js')
        //- else if message == 
        //-     script(src='/public/js/permission_alert.js')
        //- else if message == 
        //-     script(src='/public/js/permission_alert.js')
        //- else if message == 
        //-     script(src='/public/js/permission_alert.js')
        
    body
        
        