html
    head
        title= `company`
    body
        h1 company mainpage
        br
        br
        include logout.pug
        br
        br
        a(class='button' href='/company/staff_list') staff_list
        br
        br
        //- a(class='button' href='/company/') staff_list
        //- br
        //- a(class='button' href='/company/') staff_list
        //- br
        //- a(class='button' href='/company/') staff_list
        //- br

        
