//- company_list
html 
    head 
        title= "company_list"
        link(rel="stylesheet", href="../public/css/staff_modal.css")
    body 
        script(src="../public/js/modal.js") 

        div(class="modal")
            div(class="modal_body") Modal 
        
        button(class="btn-open-popup") Modal 
        br
        div(class="morlr")
            h1 hey
        br
        h1 hi

        
           
