//- register.js
html
    head
        title= `company_delete_user` 
        link(rel="stylesheet", href="/public/css/company_add_user.css")
    body
        div(class= 'page_contents')
            h1 company_delete_user
            //- h1 #{company_id}
            br
            br
            form(action='/mainpage/company_list/company_delete_user/confirm', method='POST')
                p userID
                input(type='text', id=`userID`, name='userID', value='')
                br
                br
                input(type=`hidden`, id=`company_id`, name=`company_id` , value = company_id)
                button(type="submit") Submit