html
    head
        title= `company`
    body
        h1 company mainpage
        br
        br
        include logout.pug
        br
        br
        a(class='button' href='/company/create_company') create_company
        br
        br
        a(class='button' href='/company/company_list') My_company_list
        br
        br
        //- a(class='button' href='/company/') staff_list
        //- br
        //- a(class='button' href='/company/') staff_list
        //- br
        //- a(class='button' href='/company/') staff_list
        //- br

        
