html
    head
        title= `company_information`
        
    body
        h2 company_member_list
        br
        br
        a(class='button' href=`/mainpage/company_list/company_add_user/${company_id}`) add_user
        br 
        br
        a(class='button' href=`/mainpage/company_list/company_delete_user/${company_id}`) delete_user
        br
        br
        each company_info, index in company_information
            ul 
                li= (index + 1) + ' | ' + ' userID : ' + company_info.userID + ' nick_name : ' + company_info.nick_name + ' position_name : ' + company_info.office_position_name + ' email : ' + company_info.email + ' phone_number : ' + company_info.phone_number + ' effective_date : ' + company_info.effective_date