//- /company/create_company
html
    head
        title= `create_company`
        //- link(rel="stylesheet", href="../public/css/style.css")
    body
        h1 create_company 
        form(action='/mainpage/create_company/confirm', method='POST')
            p
                | company_name :
                input(type='text', name='company_name', value='')
                br
                br
                input(type='submit', value='Submit')