//- /company/create_company
html
    head
        title= `create_company`
        link(rel="stylesheet", href="/public/css/create_company.css")
    body
        div(class= 'page_contents')
            h1 create_company
            h2(style=" color: #ff0000") 유저 한명이 같은 회사명 여러개 제작 불가 
            form(action='/mainpage/create_company/confirm', method='POST')
                p company_name 
                input(type='text', name='company_name', value='')
                br
                br
                button(type="submit") Submit