html
    head
        title= `enterence`
    body
        h1 main page 
        br
        a(class='button' href='/auth/login') login page
        br
        br
        br
        a(class='button' href='/register') register
        
