//- app.js
html
    head
        title= `enterence`
        link(rel="stylesheet", href="../public/css/style.css")
    body
        h1 main page 
        br
        a(class='button' href='/loginpage') login page
        br
        br
        br
        a(class='button' href='/account_register') register
        br
        br
        //- p(style="black") how can do this
        
