//- app.js
html
    head
        title= `entrance`
        link(rel="stylesheet", href="../public/css/entrance.css")
    body
        div(class= 'page_contents')
            ul 
                <li> <h1> main page</h1> </li> 
             
            br
            br
            a(class='button' href='/loginpage') login page
            br
            br
            a(class='button' href='/account_register') register
            br
            br
        //- p(style="black") how can do this