//- app.js
html
    head
        title= `entrance`
        link(rel="stylesheet", href="/public/css/entrance.css")
    body
        div(class= 'page_contents')
            img(src="../public/img/mainpage.jpg" class='mainpage_img' width="300" height="300")
            h1 main page 
            br
            br
            a(class='button' href='/loginpage') login page
            br
            br
            a(class='button' href='/account_register') register
            br
            br
        //- p(style="black") how can do this