//- login.js
html
    head
        title= `loginPage` 
        link(rel="stylesheet", href="/public/css/loginpage.css")
    body
        div(class= 'page_contents')
            h1 Sign in
            form(class='form_class' action='/loginpage/login_confirm', method='POST')
                p email:
                input(type='text', id=`email`, name='email', value='')
                br
                p password: 
                input(type='password',id=`password`, name='password', value='')
                br
                button(type="submit") Submit