html
    head
        title= `mainpage`
        link(rel="stylesheet", href="../public/css/mainpage.css")
    body
        h1 company mainpage
        br
        br
        a(class=`button` href=`/mainpage/my_information`) my_information
        br
        br
        include logout.pug
        br
        br
        a(class='button' href='/mainpage/create_company') create_company
        br
        br
        a(class='button' href='/mainpage/company_list') My_company_list
        br
        br
        a(class=`button` href=`/mainpage/work_list`) work_list


        //- a(class='button' href='/company/') staff_list
        //- br
        //- a(class='button' href='/company/') staff_list
        //- br
        //- a(class='button' href='/company/') staff_list
        //- br

        
