html
    head
        title= `my_company_list`
        //- script(src="../public/js/temp.js")
    body
        h2 my_company_list
        br
        each company, index in temp
            ul 
                li= (index + 1) + ' companyID : ' + company.companyID + ' company_name : ' + company.company_name + ' company_chief_userID : ' + company.company_chief_userID + ' nick_name : ' + company.nick_name 
                a(class='button' href=`/mainpage/company_list/${company.companyID}`) company_info