//- staff_list
html 
    head 
        title= "staff_list"
        
        link(rel="stylesheet", href="../public/css/staff_modal.css")
    body 
        div(class="modal")
            div(class="modal_body") Modal 
        
        button(class="btn-open-popup") Modal 

        script(src="../public/js/modal.js") 
        
           
