html
    head
        title work add page
        link(rel="stylesheet", href="/public/css/work_add_page.css")
    body
        div(class= 'page_contents')
            h1 work add page 
            form(action='/mainpage/work_list/work_add_confirm', method='POST')
                p work name
                input(type='text', id=`work_name`, name='work_name', value='')
                br
                br
                p work description
                input(type='text', id=`work_description`, name='work_description', value='')
                br
                br
                input(type=`hidden`, id=`company_id`, name=`company_id` , value = company_id)
                button(type='submit') submit
                