@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);

body {
	font-family: 'Jeju Hallasan', Georgia;
}

.page_contents {
	padding: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page_contents h1 {
	font-size: 50px;
}

button {
    width: 150%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px;
    border: 2px solid;
    border-color: black;
    background: white;
    font-size: 14px;
    font-weight: 600;
    color: black;
    font-family: 'Jeju Hallasan', Georgia;
}

button:hover {
    background-color:aliceblue
}

